<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
    <h2>
        Student Information System
    </h2>

    <tr>
        <div align="left">
            <h3><a th:href="@{'/new'}">Add New Information</a></h3>
        </div>
    </tr>

    <tr>
        <div class="col-sm-5" align="center">
            <div class="panel-body" align="center">
                <table class="table table-bordered">
                    <thead class="thead-dark ">
                        <tr>
                            <th>Student Id</th>
                            <th>Full Name</th>
                            <th>Age</th>
                            <th>Address</th>
                            <th>Zip Code</th>
                            <th>City</th>
                            <th>Region</th>
                            <th>Province</th>
                            <th>Phone Number</th>
                            <th>Mobile Number</th>
                            <th>Email</th>
                            <th>Year Level</th>
                            <th>Section</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="studentList : ${studentList }">
                            <td th:text="${studentList.IDNumber}">ID Number</td>
                            <td th:text="${studentList.name}">Name</td>
                            <td th:text="${studentList.age}">Age</td>
                            <td th:text="${studentList.address}">Address</td>
                            <td th:text="${studentList.zipCode}">Zip Code</td>
                            <td th:text="${studentList.city}">City</td>
                            <td th:text="${studentList.region}">Region</td>
                            <td th:text="${studentList.province}">Province</td>
                            <td th:text="${studentList.phoneNumber}">Phone Number</td>
                            <td th:text="${studentList.mobileNumber}">Mobile Number</td>
                            <td th:text="${studentList.email}">Email</td>
                            <td th:text="${studentList.yearLevel}">Year Level</td>
                            <td th:text="${studentList.section}">Section</td>
                            <td>
                                <a th:href="@{'/edit/' + ${studentList.IDNumber}}">Edit</a>
                            </td>
                            <td>
                                <a th:href="@{'/delete/' + ${studentList.IDNumber}}">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </tr>
</div>
</body>
</html>